---
# tasks file for omero-prometheus-exporter

# TODO: Move to a separate role?
- name: Omero prometheus exporter | create system user
  become: true
  ansible.builtin.user:
    name: "{{ omero_prometheus_exporter_system_user }}"
    state: present
    system: true

- name: Omero prometheus exporter | setup virtualenv3
  become: true
  ansible.builtin.pip:
    name: "pip>=21"
    state: present
    virtualenv: "{{ omero_prometheus_exporter_venvdir }}"
    virtualenv_command: "{{ omero_prometheus_exporter_virtualenv_bin }}"

- name: Omero prometheus exporter | install omero-prometheus-tools
  become: true
  ansible.builtin.pip:
    name: "{{ omero_prometheus_tools_requirements }}"
    state: present
    virtualenv: "{{ omero_prometheus_exporter_venvdir }}"
    virtualenv_command: /usr/bin/python3 -mvenv
  notify:
    - restart prometheus-omero-exporter

- name: Omero prometheus exporter | delete Python 2 installation directories
  become: true
  ansible.builtin.file:
    name: "{{ omero_prometheus_exporter_venvdir }}/../{{ item }}"
    state: absent
  with_items:
    - bin
    - etc
    - include
    - lib
    - lib64

- name: Omero prometheus exporter | configure service
  become: true
  ansible.builtin.template:
    dest: "{{ systemd_prometheus_omero_exporter_env_file_path }}"
    src: sysconfig-prometheus-omero-exporter.j2
    owner: "{{ omero_prometheus_exporter_system_user }}"
    group: root
    mode: "0440"
  notify:
    - restart prometheus-omero-exporter

- name: Omero prometheus exporter | install service
  become: true
  ansible.builtin.template:
    dest: /etc/systemd/system/prometheus-omero-exporter.service
    src: systemd-prometheus-omero-exporter-service.j2
    mode: "0644"
  notify:
    - restart prometheus-omero-exporter

- name: Omero prometheus exporter | enable service
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    name: prometheus-omero-exporter
    state: started
