[Unit]
Description=prometheus-omero-exporter

[Service]
User={{ omero_prometheus_exporter_system_user }}
EnvironmentFile={{ systemd_prometheus_omero_exporter_env_file_path }}
ExecStart=/opt/prometheus-omero-tools/venv3/bin/omero-prometheus-tools.py $OPTIONS
RestartSec=10
Restart=on-failure
SyslogIdentifier=prometheus-omero-exporter

[Install]
WantedBy=multi-user.target
